<!DOCTYPE html>
<html>
  <head>
    <title>School Timetable</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
    <a class="navbar-brand" href="#">School time table</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/timetable">timetable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachers">Teachers</a>
        </li>
        
      </ul>
    </div>
  </div>
    </nav>



        <div class="container mt-5">
        <h1 class="text-center">School Timetable</h1>
        <form action="/saveTimetable" method="POST">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <% const times = ['8:00-9:00', '9:00-10:00', '10:00-11:00', '11:00-12:00', '13:00-14:00', '14:00-15:00']; %>
                    <% times.forEach((time, rowIndex) => { %>
                        <tr>
                            <td><%= time %></td>
                            <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].forEach(day => { %>
                                <td>
                                    <select name="timetable[<%= time %>][<%= day %>]" class="form-control">
                                        <option value="">Select Subject</option>
                                        <% subjects.forEach(subject => { %>
                                            <option value="<%= subject %>"
                                                <%= timetable[time][day] === subject ? 'selected' : '' %>>
                                                <%= subject %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-3">Save Timetable</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
