<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Timetable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">School Timetable</h1>
        <form action="/saveTimetable" method="POST">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <% const times = ['8:00-9:00', '9:00-10:00', '10:00-11:00', '11:00-12:00', '13:00-14:00', '14:00-15:00']; %>
                    <% times.forEach((time, rowIndex) => { %>
                        <tr>
                            <td><%= time %></td>
                            <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].forEach(day => { %>
                                <td>
                                    <select name="timetable[<%= time %>][<%= day %>]" class="form-control">
                                        <option value="">Select Subject</option>
                                        <% subjects.forEach(subject => { %>
                                            <option value="<%= subject %>"
                                                <%= timetable[time] && timetable[time][day] === subject ? 'selected' : '' %>>
                                                <%= subject %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-3">Save Timetable</button>
        </form>

        <h2 class="text-center mt-5">Saved Timetable</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <% times.forEach((time, rowIndex) => { %>
                    <tr>
                        <td><%= time %></td>
                        <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].forEach(day => { %>
                            <td>
                                <%= timetable[time] ? timetable[time][day] : '' %>
                            </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
